extends layout

block content 
  h1 Categories 
    each category in categories
      h2 #{category.name}
        p #{category.description} 
        a(href=`/category/${category._id}/edit`) Edit Category
        br
        button(id="openModal" data-attribute=`/category/${category._id}/`) Delete Category